@import "default.css";
@import "tables.css";

img {
    border: 0;
    max-width: 100%;
    horizontal-align: center;
}

/**
 * Spacing fixes
 */

div.body p, div.body dd, div.body li {
    line-height: 120%;
    text-align: left;
}

ul.simple {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* spacing around blockquoted fields in parameters/attributes/returns */
td.field-body > blockquote {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

table.docutils.align-default tbody tr td p {
	margin: 0;
	padding: 2px 0;
}

/* spacing around example code */
div.highlight > pre {
    padding: 2px 5px 2px 5px;
}

/* spacing in see also definition lists */
dl.last > dd {
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 30px;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

/**
 * Hide dummy toctrees
 */

ul {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul li {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul li a.reference {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Make high-level subsections easier to distinguish from top-level ones
 */
div.body h3 {
  background-color: transparent;
}

div.body h4 {
  border: none;
  background-color: transparent;
}

/**
 * Scipy colors
 */

body {
    background-color: rgb(230,230,230);
    font-size: 0.90em;
}

div.headerimage {
	text-align: center;
}

div.headerimage-noshow {
	display:none;
}

div.document {
  background-color: rgb(230,230,230);
  position: relative;
  margin-left: 240px;
}

div.sphinxsidebarwrapper {
    padding: 10px 5px 0 10px;
}

div.document-no-sidebar {
  background-color: rgb(230,230,230);
  position: relative;
  margin-left: 0px;
  z-index: 0;
  top: 30px;
}

div.sphinxsidebar {
    background-color: rgb(230,230,230);
    margin-left: 0;
    width: 240px;
    max-width: 240px;
    height: auto;
    float: none;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 30px;
    bottom: 0;
}

div#searchbox {
    margin-top: 30px;
}

div#sourcelink {
    position: absolute;
    bottom: 0;
    font-style: italic;
    font-size: small;
}

div.related {
    background-image: url('../images/sphinxdocs/navigation.png');
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 90%;
    line-height: normal;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
}

div.related ul {
    color: rgb(100, 100, 100);
}

div.related ul.row1 {
    height: 30px;
}

div.related ul.row2 {
    height: 20px;
}

div.related ul li {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    float: left;
}

div.related ul li.right {
    font-size: small;
    float: right;
    margin-right: 5px;
}

div.related ul li#searchbox.right {
    float: right;
    margin-right: 5px;
    margin-top:  7px;
    font-size: 90%;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: normal;
    color: #EE9816;
    font-size: 90%;
}

div.related ul li.reltitle {
    padding: 0 5px 0 5px;
}

div.related ul li a:hover {
    color: #3CA8E7;
}

div.sphinxsidebar h3 {
  color: rgb(0,102,204);
}

div.sphinxsidebar h3 a {
  color: rgb(0,102,204);
}

div.sphinxsidebar h4 {
  color: rgb(0,82,194);
}

div.sphinxsidebar p {
  color: black;
}

div.sphinxsidebar a {
  color: #355f7c;
}

div.section a {
    color:  #ca7900;
    font-size: 0.95em;
    letter-spacing: 0.01em;
    font-weight: normal;
    font-style: normal;
}

div.section a:hover {
    color: #2491cf;
}

div.sphinxsidebar ul.want-points {
  list-style: disc;
}

div.footer {
    padding: 80px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

.field-list th {
  color: rgb(0,102,204);
}

.floatleft {
	position: relative;
	float:left;
	text-align:center;
}

.floatcenter {
	position:relative;
        float:none;
	text-align:center;
}

.floatright {
	position: relative;
	float:right;
	text-align:center;
}

div.bodywrapper {
  margin: 0;
}

div.headerfix :target {
  /* compensate fixed header in link anchors */
  padding-top: {{ 30 }};
  margin-top: -{{ 30 }};
}

/**
 * Extra admonitions
 */

div.return {
  color: rgb(0,0,255);
}

div.tip {
  background-color: #ffffe4;
  border: 1px solid #ee6;
}

div.availability {
  background-color: #e8f7c4;
  border: 1px solid #adff2f;
}

div.plot-output {
  clear-after: both;
}

div.plot-output .figure {
  float: center;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

div.plot-output .caption {
  margin-top: 2;
  padding-top: 0;
}

div.plot-output p.admonition-title {
  display: none;
}

div.plot-output:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.doctodo {
    background-color: #ccccff;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #cc99ff;
}

.docwarning {
    background-color: #ffe4e4;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

.doccaution {
    background-color: #ff9900;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

.docimportant {
    background-color: #ffcc33;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

.doctip {
    background-color: #ccff66;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

.docavailability {
    background-color: #e8f7c4;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #adff2f;
}

div.admonition p {
    display: inline;
}

div.admonition {
    background-color: #98F5FF;
    border: 1px solid #00B2EE;
    text-align: left;
    background-image: url('../images/sphinxdocs/todo.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 33px;
}

.admonition tt {
    background: #98F5FF;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
    text-align: left;
    background-image: url('../images/sphinxdocs/seealso.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 33px;
}

.seealso tt {
    background: #ffc;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    text-align: left;
    background-image: url('../images/sphinxdocs/warning.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 33px;
}

.warning tt {
    background: #ffe4e4;
}

div.todo {
    background-color: #ccccff;
    border: 1px solid #cc99ff;
    text-align: left;
    background-image: url('../images/sphinxdocs/todo.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 33px;
}

.todo tt {
    background: #ccccff;
}

div.caution {
    background-color: #ccffff;
    border: 1px solid #99ccff;
    text-align: left;
}

.caution tt {
    background: #ccccff;
}

div.important {
    background-color: #ffcc33;
    border: 1px solid #ff9900;
    text-align: left;
}

.important tt {
    background: #ffcc33;
}

div.tip {
    background-color: #ccff33;
    border: 1px solid #33cc33;
    text-align: left;
}

.tip tt {
    background: #ccff33;
}


div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: left;
    background-image: url('../images/sphinxdocs/info.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 33px;
}

.note tt {
    background: #eee;
}

div.availability {
    background-color: #e8f7c4;
    border: 1px solid #adff2f;
    text-align: left;
    background-image: url('../images/sphinxdocs/available.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 33px;
}

.availability tt {
    background: #e8f7c4;
}

div.wxdeprecated {
  background-color: #ffe6c3;
  border: 1px solid #edc388;
  text-align: left;
  background-image: url('../images/sphinxdocs/warning.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 33px;
}


 p.admonition-title {
   margin: 10px 10px 5px 0px;
   font-weight: bold;
}

 .gallery_class table { float: left;
                  margin: 0 5px 20px 0; }
 .gallery_class table { border-collapse: collapse; }
 .gallery_class table td { padding: 0; }
 .gallery_class table caption { font-size: 80%; }
 .gallery .caption { height: 4em; vertical-align: top; }
 .gallery table { width: 200px; }


/**
 * Styling for field lists
 */

table.field-list th {
  border-left: 1px solid #aaa !important;
  padding-left: 5px;
}

table.field-list {
  border-collapse: separate;
  border-spacing: 10px;
}

/**
 * Styling for footnotes
 */

table.footnote td, table.footnote th {
  border: none;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
    font-size: 0.90em;
    letter-spacing: 0.015em;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

code.descname, code.descclassname  {
    font-weight: bold;
}
a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}


a em {
    color: #CA7900;
    background-color: transparent;
    font: italic 0.95em 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
    border: 0;
    letter-spacing: 0.01em;
    letter-spacing: 0.01em;
}

a em:hover {
    color: #2491CF;
}

a:hover {
    color: #2491CF;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

a tt {
    background-color: transparent;
    font-weight: bold;
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

.panel {
position: fixed;
top: 60px;
right: 0;
display: none;
background: #000000;
border:1px solid #111111;
font-family: 'Calibri', 'Deja Vu Sans', 'Bitstream Vera Sans', 'Trebuchet MS', monospace;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
width: 200px;
height: auto;
padding: 20px 30px 30px 30px;
filter: alpha(opacity=85);
opacity: .85;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #CA7900;
text-decoration: none;
border-bottom: 1px solid #CA7900;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #2491CF;
text-decoration: none;
border-bottom: 1px solid #2491CF;
}

a.trigger{
position: fixed;
text-decoration: none;
top: 80px; right: 0;
font-size: 20px;
letter-spacing:-1px;
font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url('../images/sphinxdocs/plus2.png') 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}

a.trigger:hover{
position: fixed;
text-decoration: none;
top: 80px; right: 0;
font-size: 20px;
letter-spacing:-1px;
font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#222222 url('../images/sphinxdocs/plus2.png') 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger {
background:#222222 url('../images/sphinxdocs/minus2.png') 85% 55% no-repeat;
}

.columns{
clear: both;
width: 330px;
padding: 0 0 20px 0;
line-height: 22px;
}

.colleft{
float: left;
width: 130px;
line-height: 22px;
}

.colright{
float: right;
width: 130px;
line-height: 22px;
}

/**
 * Code block.
 * The border colour should be a darker shade of the background colour.
 * The hex code #E8D898 used below is a pale, light grayish amber.
 */
pre {
    padding: 5px;
    background-color: #FFFFE5;
    color: #333333;
    line-height: 120%;
    border: 1px solid #E8D898;
    border-left: none;
    border-right: none;
}

/**
 * Commands or code within text. The hex code #EAEAF8 used below is a
 * pale, light grayish blue.
 */
tt {
    background-color: #EAEAF8;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

.codeexpander p {padding-left: 25px; cursor:pointer; background: url("../images/sphinxdocs/arrows.png") no-repeat 0 -33px; text-decoration:none;}
.codeexpander p {border-bottom:1px solid #ccc; padding-bottom:4px;}
.codeexpander p a {text-decoration:none;}
.codeexpander p.myactive {background-position: 0 5px;}
.myactive {background-color: rgb(230, 230, 230);  background-position: 0 5px;}


p.mybiglink a.mybiglink {
    font-size: 1.2em;
    color: #355f7c;
    text-decoration: none;

}

table.contentstable p.mybiglink {
    line-height: 150%;
}

hr.overloadsep {
    color: #0000FF;
    background-color: #0000FF;
    height: 1px;
    border: none;
    width: 50%;
    float: left;
}